<div class="landing-wrapper">
  <img src="/assets/stars.svg" alt="star1" class="star star-top-left" />
  <img src="/assets/stars.svg" alt="star1" class="star star-top-right" />
  <img src="/assets/stars.svg" alt="star1" class="star star-bottom-left" />
  <img src="/assets/stars.svg" alt="star1" class="star star-bottom-right" />

  <div class="hero-content">
    <h1 class="title mat-display-2">
      Просувай свої знання з <span class="brand">Grado</span>
    </h1>
    <p class="subtitle mat-subheading-1">Рух - це життя, просувай свої знання з нами.</p>
  </div>
</div>
