<h2 mat-dialog-title>Створення викладача</h2>

<mat-dialog-content class="mat-typography" [formGroup]="teacherForm">
  <div class="d-flex flex-column">
    <mat-form-field appearance="fill" class="w-full mb-4">
      <mat-label>ПІБ</mat-label>
      <input matInput formControlName="fullName" />
      <mat-error *ngIf="teacherForm.get('fullName')?.hasError('required')">
        Введіть ім’я
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" class="w-full mb-4">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" />
      <mat-error *ngIf="teacherForm.get('email')?.hasError('required')">
        Введіть email
      </mat-error>
      <mat-error *ngIf="teacherForm.get('email')?.hasError('email')">
        Невірний формат email
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" class="w-full">
      <mat-label>Предмет</mat-label>
      <input matInput formControlName="subject" />
      <mat-error *ngIf="teacherForm.get('subject')?.hasError('required')">
        Введіть предмет
      </mat-error>
    </mat-form-field>
  </div>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="onCancel()">Скасувати</button>
  <button mat-button (click)="onSave()" [disabled]="teacherForm.invalid" cdkFocusInitial>
    Зберегти
  </button>
</mat-dialog-actions>
