<h2 mat-dialog-title>Створення школи</h2>

<mat-dialog-content class="mat-typography" [formGroup]="teacherForm">
  <div class="d-flex flex-column">
    <mat-form-field appearance="fill" class="w-full mb-4">
      <mat-label>Назва школи</mat-label>
      <input matInput formControlName="name" />
      <mat-error *ngIf="teacherForm.get('name')?.hasError('required')">
        Назва обов'язкова
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" class="w-full mb-4">
      <mat-label>ПІБ завуч</mat-label>
      <input matInput formControlName="headTeacherPib" />
      <mat-error *ngIf="teacherForm.get('headTeacherPib')?.hasError('required')">
        ПІБ завуча обов'язкова
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" class="w-full mb-4">
      <mat-label>Пошта завуча</mat-label>
      <input matInput formControlName="headTeacherEmail" />
      <mat-error *ngIf="teacherForm.get('headTeacherEmail')?.hasError('required')">
        Введіть email
      </mat-error>
      <mat-error *ngIf="teacherForm.get('headTeacherEmail')?.hasError('email')">
        Невірний формат email
      </mat-error>
    </mat-form-field>
  </div>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="onCancel()">Скасувати</button>
  <button mat-button (click)="onSave()" [disabled]="teacherForm.invalid" cdkFocusInitial>
    Зберегти
  </button>
</mat-dialog-actions>
