<mat-toolbar color="primary" class="mat-elevation-z4">

  <button mat-icon-button (click)="toggleSidenav()" class="me-2 hide-desktop">
    <mat-icon>menu</mat-icon>
  </button>

  <span class="site-title">Grado</span>

  <span class="spacer"></span>

  <!-- Навігація -->
  <nav class="hide-mobile">
    @for(item of $menuItems(); track item) {
      <a mat-button [routerLink]="item.link">{{ item.label }}</a>
    }
  </nav>

  <!-- Меню користувача -->
  <button mat-icon-button [matMenuTriggerFor]="userMenu">
    <mat-icon>account_circle</mat-icon>
  </button>

  <mat-menu #userMenu="matMenu">
    @if (sessionService.getUser()) {
      <button mat-menu-item disabled>
        <mat-icon>person</mat-icon>
        {{ userRole }}
      </button>
      <button mat-menu-item (click)="logout()">
        <mat-icon>logout</mat-icon>
        Вийти
      </button>
    } @else {
      <button mat-menu-item routerLink="/login">
        Log In
      </button>
    }
  </mat-menu>

</mat-toolbar>
