<mat-accordion>
    <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <div>{{ tutor.pib }} - {{ tutor.email }}</div>
      </mat-panel-title>
      <div class="button-wrapper">
        <button mat-icon-button (click)="edit($event)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button (click)="delete($event)">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </mat-expansion-panel-header>

    <div>
    </div>
  </mat-expansion-panel>
</mat-accordion>
